body {
  background-color: hsla(303, 50%, 50%, 0.274);
}
.content {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  color: white;
  font-family: Helvetica;
}

#greeting-container {
  margin-top: 20px;
}

.title {
    font-family: Helvetica;
    color: white;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.profImage {
    width=auto;
    height=150px;
    vertical-align:top;
    float: right;
}

.travel-pic {
    width=auto;
    height=150px;
    vertical-align:top;
    float: right;
}

.travel-pic-left {
    width=auto;
    height=150px;
    vertical-align:top;
    float: left;
}

tr {
  background: white;
  border-bottom: 1px solid rgb(202, 194, 194);
  margin-bottom: 5px;
}

table, td {
  
  color: rgb(161, 163, 228);
  font-family: "Lucida Console", Monaco, monospace
  text-align: center;
}

a:link th {
  color: rgb(161, 163, 228);
}
